/*start here*/
footer {
  box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.075);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

[class^="apexcharts-text"],
[class^="apexcharts-title"],
.apexcharts-legend-text {
  color: #fff !important;
  fill: #fff !important;
}

.capitalize {
  text-transform: capitalize;
}

.error {
  border: #ff0000 1px solid;
}

.hide {
  display: none;
}

.btn-group.form-control {
  padding: 0;

}

.pointer {
  cursor: pointer;
}

.cartPanel .list-group {
  max-height: 400px;
  overflow-y: auto;
}


div.animated[role="alert"] {
  margin-top: 5%;
  position: fixed;
  z-index: 150;
  width: 100%;
}